* {
  margin: 0;
  border: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: #111;
  text-align: center;
}

canvas {
  background-color: #000;
  border: 1px solid #ddd;
  cursor: none;
  margin: 50px auto;
}